<h1>Personajes</h1>

<div class="row mb-4">
    <div class="col-md-12 mt-5 pb-3" *ngIf="characters.length>0">
        <div class="d-flex flex-wrap">
            <div class="row">
                <div class="column" *ngFor="let character of characters | paginate: { itemsPerPage: payload.per_page, currentPage: p, totalItems: totalEntries }">
                  <app-item-character [character]="character"> </app-item-character>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group rounded-5 shadow" *ngIf="characters?.length==0">
        <div class="list-group-item text-center py-5" *ngIf="loading">
            <p class="text-muted">Cargando...</p>
        </div>
        <div class="list-group-item text-center py-5" *ngIf="!loading">
            <img src="/assets/images/empty-state.png" width="240px">
            <h5 class="text-muted">No se encontraron registros</h5>
        </div>
    </div>
    <div class="col-md-12 text-end mt-4" *ngIf="characters.length > 0">
        <pagination-controls
        (pageChange)="p = $event"
        (pageChange)="pageChanged($event)"
        previousLabel="Prev."
        nextLabel="Sig."
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        *ngIf="characters.length>0"
    ></pagination-controls>
    </div>
</div>

