/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 500;
}
.light {
    background-color: #F8F9FA !important;
    color: #000 !important;
    .text-light{
        color: #000 !important;
    }
}
.main-container {
    background: transparent !important;
    background-size: cover;
    min-height: 100vh;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
.spacer {
    width: 10px;
}
.btn-nav {
    color: #FFFFFF !important;
    background-color: #0e4173 !important;
    font-family: 'Rubik', sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-grid-tile {
    background: lightblue;
}
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
