/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 500;
}
.light {
    background-color: #F8F9FA !important;
    color: #000 !important;
    .text-light{
        color: #000 !important;
    }
}
.main-container {
    background: transparent !important;
    background-size: cover;
    min-height: 100vh;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
.spacer {
    width: 10px;
}
.btn-nav {
    color: #FFFFFF !important;
    background-color: #0e4173 !important;
    font-family: 'Rubik', sans-serif !important;
}
